/scan_text_recipes/config/api_keys.yaml
/scan_text_recipes/config/db_connect_config.yaml
/structured_recipes/
/recipes/
.idea/misc.xml
.idea/modules.xml
.idea/QuickJinja_project.xml
.idea/ScanRecepies.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
/scan_text_recipes/src/main_processors/__pycache__/*
/scan_text_recipes/src/model_interface/__pycache__/*
/scan_text_recipes/src/__pycache__/*
/scan_text_recipes/src/utils/__pycache__/*
/scan_text_recipes/utils/__pycache__/
/scan_text_recipes/utils/logger/__pycache__/*
*.py[cod]
__pycache__/
*.pyc
/scan_text_recipes/src/model_interface/__pycache__/remote_model_interface.cpython-310.pyc
/scan_text_recipes/src/prompt_organizers/__pycache__/base_prompts_container.cpython-310.pyc
/scan_text_recipes/src/prompt_organizers/__pycache__/default_prompt_container.cpython-310.pyc
/scan_text_recipes/src/prompt_organizers/__pycache__/fixer_prompt_container.cpython-310.pyc
/scan_text_recipes/utils/__pycache__/utils.cpython-310.pyc
/scan_text_recipes/uploader_tool/src/lib/
.env
aws_env_file

# Terraform system files
/infra/terraform/.terraform/*
/infra/terraform/*.tfstate
/infra/terraform/*.tfstate.backup
/infra/terraform/.terraform.tfstate.lock.info
/infra/terraform/.terraform.lock.hcl

